.single-container {
  display: flex;
  border: 1px solid white;
  border-radius: 5px;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  width: 210px;
  margin-right: 5px;
}
.letter-heading {
  color: white;
  font-size: 25px;
  font-weight: 400;
  margin: 5px;
  padding: 10px;
}
.details {
  flex-grow: 1;
  font-size: 10px;
  color: white;
}
.delete-icon {
  height: 25px;
}
.button-delete {
  background-color: transparent;
  border: 0px solid;
  outline: none;
}
.star-size {
  width: 100px;
}
